<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <h3>Get secret</h3>
    <form id="submitForm">
      <input
        type="text"
        id="secretInput"
        placeholder="Enter secret name"
        autocomplete="off"
      />
      <button>Get Secret</button>
    </form>

    <div id="showSecret"></div>

    <h3>Set secret</h3>
    <form id="setSecretForm">
      <input
        type="text"
        id="key"
        placeholder="Enter secret name"
        autocomplete="off"
      />
      <input
        type="password"
        id="value"
        placeholder="Enter secret value"
        autocomplete="off"
      />
      <button>Set Secret</button>
    </form>

    <script>
      const secretInput = document.querySelector("#secretInput");
      const showSecret = document.querySelector("#showSecret");
      const submitForm = document.querySelector("#submitForm");
      const inputKey = document.querySelector("#key");
      const inputValue = document.querySelector("#value");
      const setSecretForm = document.querySelector("#setSecretForm");

      function handleSubmit(event) {
        event.preventDefault();

        const url = `/${secretInput.value}`;
        fetch(url)
          .then(response => response.text())
          .then(secret => {
            showSecret.innerHTML = secret;
          });
      }

      function handleCreate(event) {
        event.preventDefault();

        const url = `/${inputKey.value}`;
        fetch(url, {
          method: "POST",
          body: inputValue.value
        });
      }

      // async function handleSubmit(event) {
      //   event.preventDefault();

      //   const url = `/${secretInput.value}`;
      //   const secret = await fetch(url).then(response => response.text());
      //   showSecret.innerHTML = secret;
      // }

      submitForm.addEventListener("submit", handleSubmit);
      setSecretForm.addEventListener("submit", handleCreate);
    </script>
  </body>
</html>
