<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <h3>Get secret</h3>
    <form id="submitForm">
      <input
        type="text"
        id="secretInput"
        placeholder="Enter secret name"
        autocomplete="off"
        name="key"
      />
      <button>Get Secret</button>
    </form>

    <div id="showSecret"></div>

    <h3>Set secret</h3>
    <form id="setSecretForm">
      <input
        type="text"
        id="key"
        placeholder="Enter secret name"
        autocomplete="off"
        name="key"
      />
      <input
        type="password"
        id="value"
        placeholder="Enter secret value"
        autocomplete="off"
        name="value"
      />
      <button>Set Secret</button>
    </form>

    <h3>Remove secret</h3>
    <form id="removeSecretForm">
      <input
        type="text"
        id="removeSecretInput"
        placeholder="Enter secret name"
        autocomplete="off"
        name="key"
      />
      <button>Remove Secret</button>
    </form>

    <script>
      const showSecret = document.querySelector("#showSecret");
      const submitForm = document.querySelector("#submitForm");
      const setSecretForm = document.querySelector("#setSecretForm");
      const removeSecretForm = document.querySelector("#removeSecretForm");

      function handleSubmit(event) {
        event.preventDefault();

        const data = Object.fromEntries(new FormData(submitForm).entries());
        const url = `/${data.key}`;
        fetch(url)
          .then(response => response.text())
          .then(secret => {
            showSecret.innerHTML = secret;
          });
      }

      function handleCreate(event) {
        event.preventDefault();
        const data = Object.fromEntries(new FormData(setSecretForm).entries());
        const url = `/${data.key}`;
        fetch(url, {
          method: "POST",
          body: data.value
        });
      }

      // async function handleSubmit(event) {
      //   event.preventDefault();

      //   const url = `/${secretInput.value}`;
      //   const secret = await fetch(url).then(response => response.text());
      //   showSecret.innerHTML = secret;
      // }

      function handleRemove(event) {
        event.preventDefault();
        const data = Object.fromEntries(
          new FormData(removeSecretForm).entries()
        );
        const url = `/${data.key}`;
        fetch(url, {
          method: "DELETE"
        });
      }

      submitForm.addEventListener("submit", handleSubmit);
      setSecretForm.addEventListener("submit", handleCreate);
      removeSecretForm.addEventListener("submit", handleRemove);
    </script>
  </body>
</html>
